@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* font-family: 'Overpass', sans-serif; */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-family: 'Overpass', sans-serif;
  color: white;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

main{
  min-height: 100vh;
  background-image: url('./incons/luke-chesser-IGtutkXikuc-unsplash.jpg');
  background-color: rgba(0, 0, 0, 0.192);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}

.weather_info{
  width: min(80%, 450px);
  display: grid;
  place-items: center;
  gap: 2rem;
}

.weather_form{
  position: relative;
  justify-self: flex-end;
  margin-right: clamp(1rem, 5vw,3rem);
}

input[type=text]{
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.623);
  padding: 0.3rem;
  background-color: transparent;
  color: white;
  width: 100px;
  transition: width 300ms ease;
}

input[type=text]:hover, 
input[type=text]:active,
input[type=text]:focus{
  width: 200px;
}


.icon-search{
  position: absolute;
  top: 0.3rem;
  right: 5px;
  background-image: url('./incons/icons8-search.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

input[type=text]::placeholder{
  color: #ffffff6e;
  padding-left: 0.3rem;
  font-size: 0.9rem;
}

.temp-container{
  width: min(95%, 350px);
  padding: 4rem 1rem;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: center;
}

.temperature{
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: 2px 2px 18px rgb(54 57 90 / 71%);
  cursor: pointer;
  padding-block: 1.5rem;
}

.city{
  padding-top: 2rem;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
}

.icon_weather{
  margin: 0 auto;
  width: 230px;
  animation: jello-horizontal 0.9s both;
}

.weather_states{
  display: block;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}

.temp_info{
  width: 65%;
  margin: 0 auto;
  position: relative;
}

.temp_info::before{
  content: '';
  width: 2px;
  height: 15px;
  background-color: white;
  position: absolute;
  top: 0;
}

.temp_info::after{
  content: '';
  width: 2px;
  height: 15px;
  background-color: white;
  position: absolute;
  bottom: 3px;
}

.box{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  position: relative;
}


.wind::before{
  content: '';
  background-image: url('./incons/icon_wind.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  left: -25px;
  height: 30px;
  width: 30px;
}

.hum::before{
  content: '';
  background-image: url('./incons/icon_hum.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -5px;
  left: -25px;
  height: 20px;
  width: 20px;
}

.icon_not-found{
  width: 200px;
  margin: 0 auto;
}


@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}